.page {
  width: auto;
  height: 120vh;
}

.descricao {
  width: 50%;
  min-width: 320px;
  margin: 0 auto;
}

/*27X40*/
.descricao img {
  width: 208px;
  height: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.descricao p,
.descricao h2 {
  color: black;
}
